@import './mixins/_colores';
@import './mixins/_grid';
@import '../fontello-375955a3/css/animation.css';
@import '../fontello-375955a3/css/fontello-codes.css';
@import '../fontello-375955a3/css/fontello-embedded.css';
@import '../fontello-375955a3/css/fontello-ie7-codes.css';
@import '../fontello-375955a3/css/fontello-ie7.css';
@import '../fontello-375955a3/css/fontello.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


