@mixin align-items-center {
  display: flex;
  align-items: center;
}
@mixin justify-content-center {
  display: flex;
  justify-content: center;
}

div,
header,
main,
aside,
nav,
article,
section,
footer,
body {
  border: 1px solid gray;
  background: white;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 65px auto 5%;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto 100px;
  grid-template-rows: 65px;
  grid-template-areas: "logo buscar";
}



.logo {
  grid-area: logo;
  @include align-items-center;
}

.buscar {
  grid-area: buscar;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "datos info";
}

.datos {
  grid-area: datos;
  background: rgba($color: red, $alpha: 0.1);
}

.info {
  grid-area: info;
  background: rgba($color: blue, $alpha: 0.1);
}

.dosis-aplicacion {
    height: 200px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "dosis"
        "aplicacion";
}
.dosis {
    grid-area: dosis;
    display: grid;
    grid-template-columns: 25% repeat(5, 15%);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}
.aplicacion {
    grid-area: aplicacion;
    display: grid;
    grid-template-columns: 25% repeat(5, 15%);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.reacciones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  

  div {
      width: 25%;
      align-items: stretch;
      justify-content: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding: 15px;
  }

  .circle {
      width: 60px;
      height:  60px;
      background: gray;
      border-radius: 50% 50%;
      -webkit-border-radius: 50% 50%;
      -moz-border-radius: 50% 50%;
      -ms-border-radius: 50% 50%;
      -o-border-radius: 50% 50%;
      justify-content: center;
      display: flex;
      margin: auto;
}
}

.info {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 150px auto;
    grid-template-areas:
        "control"
        "descripcion"
        "animacion";
}

.control {
    display: grid;
    grid-template-columns: 25% auto 25%;
    // grid-template-rows: auto;
}
.descripcion {
    display: grid;
    // grid-template-rows: 60px;
    overflow-y: scroll;
    
}

.animacion {
    display: grid;
    // grid-template-rows: 150px;
}

footer {
  grid-area: footer;
}
